workflows/ABuCeLJ89s54yUKS.json
{
  "active": false,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Set Text (voice)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Set Text (final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text (voice)": {
      "main": [
        [
          {
            "node": "Set Text (final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text (final)": {
      "main": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "БИЗНЕС АССИСТЕНТ1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Typing On)": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "HTTP Request (Typing On)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Typing On)1": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "HTTP Request (Typing On)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Evolution API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Evolution API3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Evolution API4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Stroinyashki1": {
      "ai_tool": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Evolution API5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Typing On)2": {
      "main": [
        [
          {
            "node": "Evolution API6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API5": {
      "main": [
        [
          {
            "node": "HTTP Request (Typing On)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API6": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "Evolution API7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-01T18:48:30.216Z",
  "id": "ABuCeLJ89s54yUKS",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "VEP WAPP",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.message.audioMessage.mimetype }}",
                    "rightValue": "audio/ogg; codecs=opus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9135976-c57f-483a-84fb-eb5d9c78f6de"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.body.data.message.conversation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "1d73089c-8b68-422f-a36a-d775268114d7",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -780,
        100
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "054bfd0a-acfa-4d23-8e7a-4269437306f5",
      "name": "Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -300,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "T10Aj8URpRIqIm4V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0177c215-5529-429f-a706-514be5cac46e",
      "name": "Set Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b2ff60e-9772-4dc6-8dad-7de37ec83103",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        0
      ],
      "id": "1787c9f0-0c33-45fc-b0ba-92ed0abdc16c",
      "name": "Set Text (voice)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b2ff60e-9772-4dc6-8dad-7de37ec83103",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        100
      ],
      "id": "29b71663-9e4a-49d5-b719-827ed377a655",
      "name": "Set Text (final)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        260
      ],
      "id": "115dd1ff-91da-4737-b6d2-66d727bbb520",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "T10Aj8URpRIqIm4V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        420,
        260
      ],
      "id": "e0e13c2e-8e7b-4c26-af65-155652091916",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Ты — классификатор входящих сообщений клиента в чате.\nВерни СТРОГО ОДИН JSON-объект без пояснений и текста вокруг, со следующими полями:\n\n{\n  \"weight_bucket\": \"lt_60\" | \"60_100\" | \"gt_100\" | null,\n  \"weight_kg\": number | null,\n  \"knows_project\": true | false | null,\n  \"follow_ok\": \"yes\" | \"no\"\n}\n\nТебе передаются:\n- current_step: 1 | 2 | 3  (этап воронки)\n- user_message: текст последнего сообщения пользователя (без наших реплик)\n\nЗАДАЧИ И ПРАВИЛА:\n\n1) weight_kg — ТЕКУЩИЙ вес человека в кг.\n   - Ищи числовые упоминания веса в user_message.\n   - Если рядом есть маркеры \"кг\"/\"kg\"/\"килограмм\" — бери это число (последнее по тексту).\n   - Если маркеров нет, используй эвристику:\n       • Числа ≥ 150 считай ростом (в сантиметрах), НЕ воспринимай их как вес.\n       • Вес обычно в диапазоне 30–300. Если несколько кандидатов — возьми первый.\n   - Игнорируй ЦЕЛЕВОЙ вес (фразы \"хочу 55\", \"цель 60\", \"до 70\", \"сбросить до 65\" и т.п.) — это не текущий вес.\n   - Диапазоны \"63–64\", \"63-64\", \"63/64\" трактуй как 63 (левое число).\n   - Округляй до 1 знака после запятой. Если текущий вес определить нельзя — weight_kg = null.\n\n2) weight_bucket — корзина веса на основе ТЕКУЩЕГО weight_kg:\n   - Если weight_kg <= 60 → \"lt_60\"\n   - Если 60 < weight_kg <= 100 → \"60_100\"\n   - Если weight_kg > 100 → \"gt_100\"\n   - Если weight_kg = null → weight_bucket = null\n\n3) knows_project — знаком ли человек с проектом:\n   - true: явные признаки знакомости/подписки/опыта (\"знаю\", \"знаком\", \"слежу\", \"подписан\", \"уже был\", \"проходил\", \"участвовал\" и т.п.).\n   - false: явно не знаком / просит рассказать (\"не знаю\", \"впервые\", \"что это\", \"расскажите\" и т.п.).\n   - null: в сообщении не понятно.\n\n4) follow_ok — СЛЕДУЕТ ЛИ пользователь ТЕКУЩЕМУ шагу воронки (а не просто соглашается/отказывается):\n   - current_step = 1 (наш вопрос: \"Раньше пробовали работать в программах с нутрициологом?\"):\n       • \"yes\" — если ответил по сути (да/нет/описание опыта).\n       • \"no\" — если вместо ответа уходит в оффтоп/задаёт другие вопросы.\n   - current_step = 2 (наш вопрос: \"Скажите, пожалуйста, ВЕС, РОСТ, хронические заболевания и КАКОЙ ВЕС хотите\"):\n       • \"yes\" — если дал хотя бы одну запрошенную сущность (например, вес или рост, или заболевания/цель).\n       • \"no\" — если не дал ни одной из запрошенных сущностей и уходит в оффтоп.\n       • ВАЖНО: для weight_kg и weight_bucket учитываем ТОЛЬКО текущий вес (целевой вес игнорируем).\n   - current_step = 3 (мы голосом спрашиваем: \"Знакомы ли с проектом?\"):\n       • \"yes\" — если ответил по теме (знаком/незнаком и т.п.).\n       • \"no\" — если не ответил по сути, уходит в оффтоп/другие вопросы.\n\nФормат вывода: только JSON-объект БЕЗ текста вокруг, БЕЗ лишних полей.\n\nПРИМЕРЫ:\nuser_message: \"Рост 172, вес 63.5 кг, хочу 55\" (current_step=2)\n→ {\"weight_bucket\":\"60_100\",\"weight_kg\":63.5,\"knows_project\":null,\"follow_ok\":\"yes\"}\n\nuser_message: \"Привет! Я вас знаю, давно подписана. Сейчас 105кг.\" (current_step=1)\n→ {\"weight_bucket\":\"gt_100\",\"weight_kg\":105,\"knows_project\":true,\"follow_ok\":\"yes\"}\n\nuser_message: \"Что это за проект? Не знаю вас. 170см, 58\" (current_step=2)\n→ {\"weight_bucket\":\"lt_60\",\"weight_kg\":58,\"knows_project\":false,\"follow_ok\":\"yes\"}\n\nuser_message: \"Да, давайте!\" (current_step=1)\n→ {\"weight_bucket\":null,\"weight_kg\":null,\"knows_project\":null,\"follow_ok\":\"yes\"}\n\nuser_message: \"Цель 55. Рост 170\" (current_step=2)\n→ {\"weight_bucket\":null,\"weight_kg\":null,\"knows_project\":null,\"follow_ok\":\"yes\"}   // цель игнорируем, роста мало для веса\n\nuser_message: \"Не сейчас. А сколько стоит?\" (current_step=1)\n→ {\"weight_bucket\":null,\"weight_kg\":null,\"knows_project\":null,\"follow_ok\":\"no\"}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        100
      ],
      "id": "db4edd64-21e6-46bf-95cc-1c7c9fe0f4f2",
      "name": "БИЗНЕС АССИСТЕНТ1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0ea67612-498f-434c-9f2d-a11e918b46c4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1320,
        100
      ],
      "id": "3d0d5298-0a33-40d5-8a89-625938ff7ce6",
      "name": "Webhook",
      "webhookId": "0ea67612-498f-434c-9f2d-a11e918b46c4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-production-9e6a.up.railway.app/chat/getBase64FromMediaMessage/{{ $json.body.instance || 'wa-01' }}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.body.apikey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  message: {\n    key: {\n      id: $json.body.data.key.id,\n      remoteJid: $json.body.data.key.remoteJid\n    }\n  },\n  convertToMp4: false\n}) }}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        0
      ],
      "id": "f25ae4cc-a8cc-45df-9efe-2ec64945b352",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "={{ $json.base64 ? 'base64' : $json.data?.base64 ? 'data.base64' : $json.result?.base64 ? 'result.base64' : '' }}",
        "options": {
          "fileName": "={{ $json.fileName || 'voice.ogg' }}",
          "mimeType": "={{ $json.mimetype || 'audio/ogg' }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -480,
        0
      ],
      "id": "37e7fbd7-5944-4bea-8f27-fb4c0e1054bf",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "VEPPERS",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid || $node[\"Webhook\"].json.body.sender }}",
        "messageText": "Доброго дня )  \nМеня зовут Анастасия Веперс - я руководитель проекта,  дипломированный нутрициолог.   \n\nПодскажите пожалуйста раньше пробовали работать в программах с нутрициологом ?💐",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-eng.evolutionApi",
      "typeVersion": 1,
      "position": [
        1540,
        -60
      ],
      "id": "7e784bbc-8c29-4ab1-8da8-2aa7a75430f1",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "YF67B9nMmE69vgvN",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdc477da-7a27-46b4-a5b0-06ebead46d0d",
              "name": "sessionId",
              "value": "={{ \n  ($json.body.instance || 'wa-01') + ':' + \n  ($json.body.data.key.remoteJid || $json.body.data.key.participant || $json.body.sender) \n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        100
      ],
      "id": "eafcfb93-167f-47c2-a952-b643fd7917eb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (200 - 120 + 1)) + 120 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1140,
        100
      ],
      "id": "e4af7fcd-a54d-407e-aa1b-fff0821fb439",
      "name": "Wait",
      "webhookId": "e5b44bb5-a5be-4bbd-a0d3-ada3acfafc83",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9e6a.up.railway.app/chat/sendPresence/wa-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sdvsdgs37e4jgfvuh2g24rsdfsf"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  number:  String(($json.contact_id\n                   || $json.body?.data?.key?.participant\n                   || $json.body?.data?.key?.remoteJid\n                   || $json.body?.sender\n                   || '')).split('@')[0].replace(/\\D/g,''),\n  presence: 'composing',\n  delay: 40000\n}) }}\n",
        "options": {}
      },
      "id": "7a958b2a-b42e-4696-98db-50bbe9966cbc",
      "name": "HTTP Request (Typing On)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1220,
        -60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "G6YhkSorlbr3ZIxC",
          "name": "Header Auth account"
        }
      },
      "notes": "Имитация набора (typing). Требует, чтобы в текущем item было поле remoteJid, иначе замените выражение на путь к JID из вашего вебхука."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc",
          "mode": "list",
          "cachedResultName": "Диалоги",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вотсап",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "contact_id",
              "lookupValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        740,
        100
      ],
      "id": "c9129523-4391-45fb-90c8-253da74958fd",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y8u36G3ttt4BcDqC",
          "name": "veppers"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').first().json.sessionId \n   || ( ($('Webhook').json.body.instance || 'wa-01') + ':' + \n        ($('Webhook').json.body.data.key.remoteJid \n          || $('Webhook').json.body.data.key.participant \n          || $('Webhook').json.body.sender) ) }}\n",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        260
      ],
      "id": "85aa13ad-e803-489e-a6eb-3f2583b5f48e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dac984c0-46e2-443e-9251-349f82856453",
              "leftValue": "={{ $json.contact_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        100
      ],
      "id": "aa53fe8b-6b33-4bb1-9056-77400640ca11",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73482944-918c-4ef2-8ea8-6b86298df2ed",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8fcd211-6bf3-48af-93fb-3e237ee231a3",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9457889-dfb5-4279-a4c3-2703e3c7a59f",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1060,
        200
      ],
      "id": "c3e1bc4a-c8d1-4f27-99a7-7030ef1390f9",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc",
          "mode": "list",
          "cachedResultName": "Диалоги",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вотсап",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step": "1",
            "contact_id": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
            "name": "={{ $('Webhook').item.json.body.data.pushName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight_kg",
              "displayName": "weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1060,
        -60
      ],
      "id": "08f88c94-a7ad-46e2-acf7-9dfbd7b425f1",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y8u36G3ttt4BcDqC",
          "name": "veppers"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "wa-01",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid || $node[\"Webhook\"].json.body.sender }}",
        "messageText": "Я поняла Вас 🙌 😉 \nСкажите пожалуйста вес , рост,  хронические заболевания и какой вес хотите ?💐",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-eng.evolutionApi",
      "typeVersion": 1,
      "position": [
        1540,
        120
      ],
      "id": "4ad5235b-a780-4b68-bd4c-35d7ad709e1e",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "YF67B9nMmE69vgvN",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9e6a.up.railway.app/chat/sendPresence/wa-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sdvsdgs37e4jgfvuh2g24rsdfsf"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  number:  String(($json.contact_id\n                   || $json.body?.data?.key?.participant\n                   || $json.body?.data?.key?.remoteJid\n                   || $json.body?.sender\n                   || '')).split('@')[0].replace(/\\D/g,''),\n  presence: 'composing',\n  delay: 20000\n}) }}\n",
        "options": {}
      },
      "id": "95a102aa-e55e-49ec-a4c5-2521bc57f24c",
      "name": "HTTP Request (Typing On)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1380,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "G6YhkSorlbr3ZIxC",
          "name": "Header Auth account"
        }
      },
      "notes": "Имитация набора (typing). Требует, чтобы в текущем item было поле remoteJid, иначе замените выражение на путь к JID из вашего вебхука."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc",
          "mode": "list",
          "cachedResultName": "Диалоги",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вотсап",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step": "2",
            "contact_id": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
            "name": "={{ $('Webhook').item.json.body.data.pushName }}"
          },
          "matchingColumns": [
            "contact_id"
          ],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight_kg",
              "displayName": "weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1220,
        120
      ],
      "id": "ce74f70d-60cf-4d67-985c-df7fe055f27e",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y8u36G3ttt4BcDqC",
          "name": "veppers"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "VEPPERS",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid || $node[\"Webhook\"].json.body.sender }}",
        "media": "https://drive.google.com/uc?export=download&id=1_ljlE_2GNdp0RMHFeOwlwEEX8m-BmxZC",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-eng.evolutionApi",
      "typeVersion": 1,
      "position": [
        1120,
        440
      ],
      "id": "a7f3cc14-4df9-40c2-9632-9b8ef2298c93",
      "name": "Evolution API2",
      "credentials": {
        "evolutionApi": {
          "id": "YF67B9nMmE69vgvN",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc",
          "mode": "list",
          "cachedResultName": "Диалоги",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вотсап",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step": "3",
            "contact_id": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
            "name": "={{ $('Webhook').item.json.body.data.pushName }}",
            "weight_kg": "{{ $('Code').item.json.weight_kg }}"
          },
          "matchingColumns": [
            "contact_id"
          ],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight_kg",
              "displayName": "weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        440
      ],
      "id": "8fb0a22f-f6eb-41dd-bf33-7ab3127cf583",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y8u36G3ttt4BcDqC",
          "name": "veppers"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73482944-918c-4ef2-8ea8-6b86298df2ed",
                    "leftValue": "={{ $('Code').item.json.weight_bucket }}",
                    "rightValue": "lt_60",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8fcd211-6bf3-48af-93fb-3e237ee231a3",
                    "leftValue": "={{ $('Code').item.json.weight_bucket }}",
                    "rightValue": "60_100",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f8acd0d-ffa9-4d31-bf04-65eb8a995fae",
                    "leftValue": "={{ $('Code').item.json.weight_bucket }}",
                    "rightValue": "gt_100",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        740,
        600
      ],
      "id": "f37af26b-5106-4d0b-bb69-150de7758263",
      "name": "Switch2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "VEPPERS",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid || $node[\"Webhook\"].json.body.sender }}",
        "media": "https://drive.google.com/uc?export=download&id=1HFjYmgGa8UbJhwRY2xY6UD-f52wEwS7s",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-eng.evolutionApi",
      "typeVersion": 1,
      "position": [
        1120,
        600
      ],
      "id": "1f9cad13-f963-466a-a373-9d0a7472e5dd",
      "name": "Evolution API3",
      "credentials": {
        "evolutionApi": {
          "id": "YF67B9nMmE69vgvN",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc",
          "mode": "list",
          "cachedResultName": "Диалоги",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вотсап",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step": "3",
            "contact_id": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
            "name": "={{ $('Webhook').item.json.body.data.pushName }}",
            "weight_kg": "={{ $('Code').item.json.weight_kg }}"
          },
          "matchingColumns": [
            "contact_id"
          ],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight_kg",
              "displayName": "weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        600
      ],
      "id": "16879b9b-e69f-4a69-981b-5407989f026d",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y8u36G3ttt4BcDqC",
          "name": "veppers"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "VEPPERS",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid || $node[\"Webhook\"].json.body.sender }}",
        "media": "https://drive.google.com/uc?export=download&id=1HFjYmgGa8UbJhwRY2xY6UD-f52wEwS7s",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-eng.evolutionApi",
      "typeVersion": 1,
      "position": [
        1120,
        760
      ],
      "id": "915a04b8-4b5c-4e14-91da-b4cba8b9a529",
      "name": "Evolution API4",
      "credentials": {
        "evolutionApi": {
          "id": "YF67B9nMmE69vgvN",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc",
          "mode": "list",
          "cachedResultName": "Диалоги",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вотсап",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step": "3",
            "contact_id": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
            "name": "={{ $('Webhook').item.json.body.data.pushName }}",
            "weight_kg": "{{ $('Code').item.json.weight_kg }}"
          },
          "matchingColumns": [
            "contact_id"
          ],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight_kg",
              "displayName": "weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        760
      ],
      "id": "6c06721e-b333-4d0e-ac50-25fa0283b1b9",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y8u36G3ttt4BcDqC",
          "name": "veppers"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Берём JSON от агента: поле \"output\" — это строка с JSON\nconst raw = $json.output ?? $json.response ?? $json.data ?? $json.message ?? $json.text ?? null;\n\nlet weight_kg = null;\nlet weight_bucket = null; // 'lt_60' | '60_100' | 'gt_100' | null\nlet knows_project = null; // true | false | null\nlet follow_ok = 'no';     // 'yes' | 'no'\n\nif (raw) {\n  try {\n    const parsed = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n\n    // weight_kg\n    if (typeof parsed.weight_kg === 'number') {\n      weight_kg = parsed.weight_kg;\n    } else if (typeof parsed.weight_kg === 'string' && parsed.weight_kg.trim() !== '') {\n      const n = Number(parsed.weight_kg.replace(',', '.'));\n      weight_kg = Number.isFinite(n) ? n : null;\n    }\n\n    // weight_bucket (если агент не прислал — вычислим сами из weight_kg)\n    if (['lt_60','60_100','gt_100'].includes(parsed.weight_bucket)) {\n      weight_bucket = parsed.weight_bucket;\n    } else if (typeof weight_kg === 'number') {\n      if (weight_kg > 100) weight_bucket = 'gt_100';\n      else if (weight_kg > 60) weight_bucket = '60_100';\n      else weight_bucket = 'lt_60';\n    } else {\n      weight_bucket = null;\n    }\n\n    // knows_project\n    if (parsed.knows_project === true || parsed.knows_project === false || parsed.knows_project === null) {\n      knows_project = parsed.knows_project;\n    } else if (typeof parsed.knows_project === 'string') {\n      const s = parsed.knows_project.trim().toLowerCase();\n      knows_project = (s === 'true') ? true : (s === 'false' ? false : null);\n    }\n\n    // follow_ok\n    if (parsed.follow_ok === 'yes' || parsed.follow_ok === 'no') {\n      follow_ok = parsed.follow_ok;\n    }\n  } catch (e) {\n    // оставим дефолты\n  }\n}\n\nreturn [{\n  ...$json,\n  weight_kg,\n  weight_bucket,\n  knows_project,\n  follow_ok\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        100
      ],
      "id": "128012bf-ce8a-44eb-9de1-ae9ef8875436",
      "name": "Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        280,
        -360
      ],
      "id": "d50e8623-c90b-4708-ae93-87d04b5d3686",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T10Aj8URpRIqIm4V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        640,
        -360
      ],
      "id": "c6485763-125f-4eab-a8a0-e19eb2f670c8",
      "name": "Calculator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Ты — классификатор входящих сообщений клиента в чате. \nВерни СТРОГО ОДИН JSON-объект без пояснений и текста вокруг, со следующими полями:\n{\n  \"weight_kg\": number | null,\n  \"knows_project\": true | false | null,\n  \"follow_ok\": \"yes\" | \"no\"\n}\n\nТебе передаются:\n- current_step: 1 | 2 | 3  (этап воронки)\n- user_message: текст последнего сообщения пользователя (без наших реплик)\n\nЗАДАЧИ:\n\n1) weight_kg — ТЕКУЩИЙ вес человека в кг.\n   - Ищи числовые упоминания веса в user_message.\n   - Если рядом есть маркеры \"кг\"/\"kg\"/\"килограмм\", бери это число (последнее по тексту).\n   - Если маркеров нет, используй эвристику: \n       • Числа ≥ 150 считай ростом (в сантиметрах) и НЕ воспринимай как вес.\n       • Вес обычно в диапазоне 30–300. Если несколько кандидатов — возьми первый.\n   - Игнорируй ЦЕЛЕВОЙ вес (например, фразы \"хочу 55\", \"цель 60\", \"до 70\", \"сбросить до 65\"): \n       • Если рядом с числом есть слова \"хочу\", \"цель\", \"до\", \"сбросить\", \"планирую\", \"мечтаю\", — НЕ считай это текущим весом.\n   - Диапазоны вида \"63–64\", \"63-64\", \"63/64\" трактуй как 63 (левое число).\n   - Округляй до одного знака после запятой. Если текущий вес определить нельзя — weight_kg = null.\n\n2) knows_project — знаком ли человек с проектом:\n   - true: явные признаки знакомости/подписки/опыта (\"знаю\", \"знаком\", \"слежу\", \"подписан\", \"уже был\", \"проходил\", \"участвовал\" и т.п.).\n   - false: явно не знаком / просит рассказать (\"не знаю\", \"впервые\", \"что это\", \"расскажите\" и т.п.).\n   - null: в сообщении не понятно.\n\n3) follow_ok — СЛЕДУЕТ ЛИ пользователь ТЕКУЩЕМУ шагу воронки:\n   - current_step = 1 (наш вопрос: \"Раньше пробовали работать в программах с нутрициологом?\"):\n       • \"yes\", если ответ по сути на вопрос (да/нет/описание опыта).\n       • \"no\", если вместо ответа задаёт другие вопросы, уходит в оффтоп, молчит по сути вопроса.\n   - current_step = 2 (наш вопрос: \"Скажите, пожалуйста, ВЕС, РОСТ, хронические заболевания и КАКОЙ ВЕС хотите\"):\n       • \"yes\", если дал хотя бы часть запрошенных данных (например, вес или рост или заболевания/цель).\n       • \"no\", если не дал ни одной из запрошенных сущностей и уходит в оффтоп/задаёт другие вопросы.\n       • ВАЖНО: для weight_kg в поле JSON учитываем ТЕКУЩИЙ вес, а целевой вес игнорируем (см. правила выше).\n   - current_step = 3 (мы голосом спрашиваем: \"Знакомы ли с проектом?\"):\n       • \"yes\", если ответил по теме (знаком/незнаком и т.п.).\n       • \"no\", если не ответил по сути, уходит в оффтоп/другие вопросы.\n\nФормат вывода: только JSON-объект без текста, без комментариев, без лишних полей.\n\nПРИМЕРЫ:\nuser_message: \"Рост 172, вес 63.5 кг, хочу 55\" при current_step=2\n→ {\"weight_kg\":63.5,\"knows_project\":null,\"follow_ok\":\"yes\"}\n\nuser_message: \"Привет! Я вас знаю, давно подписана. Сейчас 105кг.\" при current_step=1\n→ {\"weight_kg\":105,\"knows_project\":true,\"follow_ok\":\"yes\"}\n\nuser_message: \"Что это за проект? Не знаю вас. 170см, 58\" при current_step=2\n→ {\"weight_kg\":58,\"knows_project\":false,\"follow_ok\":\"yes\"}\n\nuser_message: \"Да, давайте!\" при current_step=1\n→ {\"weight_kg\":null,\"knows_project\":null,\"follow_ok\":\"yes\"}\n\nuser_message: \"Не, не сейчас. А сколько стоит?\" при current_step=1\n→ {\"weight_kg\":null,\"knows_project\":null,\"follow_ok\":\"no\"}\n\nuser_message: \"Хочу 55, сейчас 63\" при current_step=2\n→ {\"weight_kg\":63,\"knows_project\":null,\"follow_ok\":\"yes\"}\n\nuser_message: \"Цель 55\" при current_step=2\n→ {\"weight_kg\":null,\"knows_project\":null,\"follow_ok\":\"no\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        380,
        -520
      ],
      "id": "f39761fa-f434-440c-a8d9-e613bcec4c34",
      "name": "БИЗНЕС АССИСТЕНТ"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1q_-8reALZA8dOQdRsB7b4ZEGN7YbFo0uTYGnXlqMJdI/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        500,
        -360
      ],
      "id": "5032e0f7-c332-4d79-8436-331a12fea428",
      "name": "Stroinyashki1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ntyRaXF3CbPOJ69I",
          "name": "VEPPERS"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').first().json.sessionId \n   || ( ($('Webhook').json.body.instance || 'wa-01') + ':' + \n        ($('Webhook').json.body.data.key.remoteJid \n          || $('Webhook').json.body.data.key.participant \n          || $('Webhook').json.body.sender) ) }}\n",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        -360
      ],
      "id": "f54e89d1-6dbc-4e90-8282-5324a4574f93",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73482944-918c-4ef2-8ea8-6b86298df2ed",
                    "leftValue": "={{ $('Code').item.json.knows_project }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8fcd211-6bf3-48af-93fb-3e237ee231a3",
                    "leftValue": "={{ $('Code').item.json.knows_project }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1380,
        300
      ],
      "id": "7bf7f5b2-31fa-4e8f-bf02-99e7270c7139",
      "name": "Switch3"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "wa-01",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid || $node[\"Webhook\"].json.body.sender }}",
        "media": "https://drive.google.com/uc?export=download&id=1BGfJkWlQDQCHD2UPUz47IcCpSSbiWaJZ",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-eng.evolutionApi",
      "typeVersion": 1,
      "position": [
        1700,
        440
      ],
      "id": "09511d54-bb94-45f4-a655-0dba63b2babd",
      "name": "Evolution API5",
      "credentials": {
        "evolutionApi": {
          "id": "YF67B9nMmE69vgvN",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc",
          "mode": "list",
          "cachedResultName": "Диалоги",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вотсап",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WOCQBIfJEhzbwSSK1dOF26JMQBO0JAwpuLLVHWnIWUc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step": "4",
            "contact_id": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
            "name": "={{ $('Webhook').item.json.body.data.pushName }}"
          },
          "matchingColumns": [
            "contact_id"
          ],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight_kg",
              "displayName": "weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        440
      ],
      "id": "2d2cc6c5-3426-48bf-bdb8-03909e947270",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y8u36G3ttt4BcDqC",
          "name": "veppers"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "wa-01",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid || $node[\"Webhook\"].json.body.sender }}",
        "messageText": "Пара слов обо мне 🩷   \n\nМеня зовут Анастасия Веперс, я дипломированный нутрициолог, психолог, коуч ICF, психосамотолог, в непрерывной практике нахожусь 8 лет  \n\n☝️💯Со мной похудело более 3800 человек. Снимаю диагнозы: сахарный диабет, резистентность, ожирение, бесплодие, гипертония.    💪Помогаю сбросить вес и восстановить здоровье. Со мной работает команда из 30 кураторов. 🤝  \n\nКак мы помогаем похудеть: \n✅Работа происходит в группе в Ватсап в сопровождении куратора.  \n❤️Комфортные группы по 15-20 человек. \n✍️В группе веде‌тся ежедневная работа, фиксируется и анализируется Ваше питание.  \n🤝Психологическое, коучинговое и информационное сопровождение. \n👉Выдается меню.  \n📃Ежедневная(!) обратная связь по всем вопросам.  \n✍️Мы веде‌м за Вами пищевые дневники.  \n✅считать калории не нужно. Все уже просчитано за Вас. \n🌟конструктор меню 👍👉взаимозаменяемые продукты  (т.е. всегда есть выбор на Ваш вкус). \n💥доступные продукты питания (продаются в обычных магазинах). \n🎉очень простая в приготовлении еда.  \n\nПрограмма🌟Поможет раз и навсегда комфортно справиться с лишним весом и очень скоро обновить гардероб 👗👠 )  \n\nТакже улучшить здоровье, снять диагнозы: СД2, резистентность к инсулину, гипертония, ожирение, жировой гепотоз и тд.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-eng.evolutionApi",
      "typeVersion": 1,
      "position": [
        2080,
        440
      ],
      "id": "93995d52-d520-4e3b-9ece-fee3683ef622",
      "name": "Evolution API6",
      "credentials": {
        "evolutionApi": {
          "id": "YF67B9nMmE69vgvN",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-production-9e6a.up.railway.app/chat/sendPresence/{{ $node[\"Webhook\"].json.body.instance || 'wa-01' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sdvsdgs37e4jgfvuh2g24rsdfsf"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  number: String(\n           $node[\"Webhook\"].json.body.data?.key?.remoteJid\n        || $node[\"Webhook\"].json.body.data?.key?.participant\n        || $node[\"Webhook\"].json.body.sender\n        || ''\n       ).split('@')[0].replace(/\\D/g,''),\n  presence: 'composing',\n  delay: $json.typingDelayMs ?? 20000\n} }}",
        "options": {}
      },
      "id": "7c5b1f4c-c5b4-41d6-a953-23e38f161c31",
      "name": "HTTP Request (Typing On)2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1920,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "G6YhkSorlbr3ZIxC",
          "name": "Header Auth account"
        }
      },
      "notes": "Имитация набора (typing). Требует, чтобы в текущем item было поле remoteJid, иначе замените выражение на путь к JID из вашего вебхука."
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "VEPPERS",
        "remoteJid": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid || $node[\"Webhook\"].json.body.sender }}",
        "messageText": "=💸Стоимость   \n\n7100 руб.  (возможна рассрочка!) \n🔵Если оплачиваете СЕГОДНЯ в \n🔺течении суток, то (!)👉 \n🔺6200 руб. - подключение к Группе и работа в первый месяц (возможна оплата в 2 этапа по 3100 руб) \nПролонгация на следующий месяц (по необходимости) - 4000 руб в месяц.   \n\n🟢Дата старта: {{ $json['Дата старта'] }}   \n\n🔴Наши результаты можно посмотреть в Инстаграмм👇   \n\nhttps://instagram.com/a.vepers?utm_medium=copy_link   \n\nТелеграм https://t.me/+9oiL-YbTotY0MTdi  \n\nТелеграмм \"Самое интересное \" https://t.me/+evDmVWbiMcRiOGYy   \n\nСайт https://anastasiavepers.ru/   \n\nЕсли есть вопросы,  спрашивайте, я с удовольствием на них отвечу  💋🤝 ",
        "options_message": {
          "delay": 10000
        }
      },
      "type": "n8n-nodes-evolution-api-eng.evolutionApi",
      "typeVersion": 1,
      "position": [
        2500,
        440
      ],
      "id": "df4697b8-e0c5-4cd4-9793-33aa4ca25580",
      "name": "Evolution API7",
      "credentials": {
        "evolutionApi": {
          "id": "YF67B9nMmE69vgvN",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aVsjAorVhubrACj_YNSLy3t-rQYfBwjL1IQ_aBKRpEI",
          "mode": "list",
          "cachedResultName": "Активная база данных",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aVsjAorVhubrACj_YNSLy3t-rQYfBwjL1IQ_aBKRpEI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aVsjAorVhubrACj_YNSLy3t-rQYfBwjL1IQ_aBKRpEI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2300,
        440
      ],
      "id": "4c740dff-71be-49a1-8e2c-0b224e1342de",
      "name": "Google Sheets7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y8u36G3ttt4BcDqC",
          "name": "veppers"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-02T20:26:32.000Z",
  "versionId": "be82768a-1be3-4c63-8850-322416daa112"
}