workflows/E3VzesBhBYxpUYxd.json
{
  "active": false,
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Docs": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-12T10:57:21.120Z",
  "id": "E3VzesBhBYxpUYxd",
  "meta": null,
  "name": "Oil RAG",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "905f23e9-9ef8-4996-84d2-b90f318fe564",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1420,
        80
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "82ee9ca3-fa02-4aa9-a435-fd37931fa26c",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1180,
        80
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "2cbce595-c10d-4f75-b84d-c669649d6629",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1060,
        -140
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Td50iAPumGqEHxiCacmXrFKMwqLKNwHT",
          "mode": "list",
          "cachedResultName": "OIL RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Td50iAPumGqEHxiCacmXrFKMwqLKNwHT"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "1343d1ab-db4e-4413-80f6-223163af18a8",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        160,
        -140
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Td50iAPumGqEHxiCacmXrFKMwqLKNwHT",
          "mode": "list",
          "cachedResultName": "OIL RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Td50iAPumGqEHxiCacmXrFKMwqLKNwHT"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "76783bbb-54c7-4e1d-acbb-3e139f55ba4c",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        160,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "39b5670b-7f3e-497c-afea-1ba3dab9a2b6",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "f5717480-2697-4e28-9d1f-bfb9352d5573",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_yt_now",
          "mode": "list",
          "cachedResultName": "documents_yt_now"
        },
        "options": {
          "queryName": "match_documents_yt_now"
        }
      },
      "id": "18d8ba99-4e92-42f8-9a1e-41dc0cbd789d",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1340,
        -140
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        -140
      ],
      "id": "4c06d7b5-b356-466c-a85b-96a7a54749c1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_yt_now",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "40e4f93e-7854-42a3-a40f-bd88bb9cb3d9",
      "name": "Delete Old Docs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -140
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        440
      ],
      "id": "e272f473-0469-4f0b-8e7d-aedbf0d04034",
      "name": "When chat message received",
      "webhookId": "a9586595-d224-4aff-8bee-1ab803b558c0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        660
      ],
      "id": "8ba045b4-e181-4ba8-a54f-ec479411e89e",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "vectorStore",
        "toolDescription": "RAG memory, always use it.",
        "tableName": {
          "__rl": true,
          "value": "documents_yt_now",
          "mode": "list",
          "cachedResultName": "documents_yt_now"
        },
        "options": {
          "queryName": "match_documents_yt_now"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        780,
        580
      ],
      "id": "1f7d1f9c-3afe-4d80-9df7-666b34f8020b",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        760,
        760
      ],
      "id": "252824f7-9625-4cd6-a700-9393966aa56e",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "content": "Чат",
        "height": 480,
        "width": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        420
      ],
      "typeVersion": 1,
      "id": "672cbb35-5a5e-4d4d-a1d6-ae3f0c808daf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Загрузчик",
        "height": 540,
        "width": 1640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -200
      ],
      "typeVersion": 1,
      "id": "80591d58-8691-4f4c-864e-1e0880f6fe7d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant, always use vectorStore before you answer"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        400,
        440
      ],
      "id": "a30e6cd4-df34-4ee1-9d7e-c25ee241708b",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-12T10:57:31.000Z",
  "versionId": "f7936470-9b83-4f6a-aae5-87a2f8923f31"
}