workflows/eV9Yc5UBAkmQP1LY.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Set Text (voice)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БИЗНЕС АССИСТЕНТ": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "календарь",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "транскрибация",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "общее",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "общее": {
      "main": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Set Text (final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text (voice)": {
      "main": [
        [
          {
            "node": "Set Text (final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text (final)": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "транскрибация": {
      "main": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "календарь": {
      "main": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Upload URL": {
      "main": [
        [
          {
            "node": "Merge Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Gemini - Generate Upload URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Upload",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Upload": {
      "main": [
        [
          {
            "node": "Gemini - Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Upload File": {
      "main": [
        [
          {
            "node": "Gemini - Ask Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Ask Questions": {
      "main": [
        [
          {
            "node": "Response Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-01T10:46:39.247Z",
  "id": "eV9Yc5UBAkmQP1LY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cn18_1efx0vVNAXVww8ip58IjTL0zvZw",
          "mode": "list",
          "cachedResultName": "Transribe",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cn18_1efx0vVNAXVww8ip58IjTL0zvZw"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        800,
        -180
      ],
      "id": "c4d7f049-ad21-4501-be92-02e532852e79",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k1Krw51GC21TIMuV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        -180
      ],
      "id": "7c988158-2e8f-437e-b8d0-053bdd710436",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k1Krw51GC21TIMuV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "1",
        "regionCode": "RU",
        "categoryId": "22",
        "options": {
          "privacyStatus": "private"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1260,
        -180
      ],
      "id": "5b289119-36e8-47a6-bfd7-662de52900da",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "vR7nQD9ZzVvwxtnC",
          "name": "YouTube account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLQ4Ra03VIFfYXwmvb_nI-zPRKij9kisn8",
        "videoId": "={{ $node[\"YouTube Upload\"].json[\"id\"] }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1480,
        -180
      ],
      "id": "f0fc4f44-8689-47ec-a59f-29c4a9f761f8",
      "name": "YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "vR7nQD9ZzVvwxtnC",
          "name": "YouTube account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini-2024-07-18"
        },
        "options": {
          "frequencyPenalty": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2280,
        720
      ],
      "id": "72d50a26-35e2-4ec6-a33e-f024f7fcb6eb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IPY97T0IVM7WZtzu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2400,
        720
      ],
      "id": "20f952ee-a43f-411e-a4eb-f9cdd4084668",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2520,
        720
      ],
      "id": "fe8af1ce-6839-4748-8150-7ebc577d4636",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "uGFvdoswI002nLpP",
          "mode": "list",
          "cachedResultName": "GC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2640,
        720
      ],
      "id": "34bd1563-4dbd-43e9-86fe-64515cd62476",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "6fa3be01-4959-425b-8c19-ae2e4bb0fbdc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "166bcc2e-49ca-4fc5-a817-3317e905e7d3",
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": "video/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "d9e4687c-f92c-4ea6-bec4-f0ed7c000f1b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        360,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d7e84146-e0de-4ca4-92ca-c78311bce820",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2840,
        500
      ],
      "webhookId": "5dced4b9-5066-4036-a4d4-14fc07edd53c",
      "credentials": {
        "telegramApi": {
          "id": "jZD7r1TCQ02rnaWn",
          "name": "msr_jarvis_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "97855ebb-e2b6-498d-86de-4e9ec4f2e118",
      "name": "Download File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        400
      ],
      "webhookId": "83bb7385-33f6-4105-8294-1a91c0ebbee5",
      "credentials": {
        "telegramApi": {
          "id": "jZD7r1TCQ02rnaWn",
          "name": "msr_jarvis_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=",
        "text": "={{ $json.transcript }}",
        "additionalFields": {}
      },
      "id": "8d608575-76d7-4a7e-9a00-e49fe15dedc3",
      "name": "Response Transcript",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1240,
        100
      ],
      "webhookId": "89fda39e-0a7b-479d-9a7a-6e9f36855690",
      "credentials": {
        "telegramApi": {
          "id": "jZD7r1TCQ02rnaWn",
          "name": "msr_jarvis_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "ebb168f3-50f8-4cb8-a1ed-6e24fa494c5d",
      "name": "Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        800,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "IPY97T0IVM7WZtzu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }} {{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert assistant that helps with content generation, post editing, theme suggestions, and other content-related tasks. You also handle calendar tasks when needed.\n\n## Language\nAlways respond in Russian using a professional, clear, and friendly tone.\n\n## Content Rules\nYou are allowed to generate and edit text content including posts, articles, and ideas for social media. Follow the tone and goals described in the prompt.\n\n## Tools\n- calendarAgent: Use this tool to take actions in calendar\n\n## Final Reminder\nAlways complete the task clearly and concisely. Do not refuse content generation.\nCurrent date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2380,
        500
      ],
      "id": "bfa1f7fd-6c1f-49bc-955b-c1cc4bf3c5c0",
      "name": "БИЗНЕС АССИСТЕНТ"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Ты классификатор команд. Ответь в формате JSON:\n{\n  \"команда\": \"календарь | транскрибация | общее\"\n}\n\nТипы команд:\n- \"календарь\" — если пользователь просит создать, изменить, переместетить и тд задачу или мероприятие. Также если спрашивает про график или другие данные.\n- \"транскрибация\" — если пользователь просит транскрибировать, извлечь текст и тд.\n- \"общее\" — если команда не подходит ни под одну из категорий",
              "role": "system"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1540,
        500
      ],
      "id": "dcaa6620-54ac-4fa6-8130-e62c863f01b6",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IPY97T0IVM7WZtzu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"message\"][\"content\"][\"команда\"]}}",
                    "rightValue": "календарь",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "027a606a-f5ff-4466-977b-4584081cb9c7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "153401ed-088c-4de8-a8f1-2c4cce6a49f3",
                    "leftValue": "={{ $json[\"message\"][\"content\"][\"команда\"] }}",
                    "rightValue": "транскрибация",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24187032-471d-47df-a555-bb804a5e3759",
                    "leftValue": "={{$json[\"message\"][\"content\"][\"команда\"]}}",
                    "rightValue": "общее",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1860,
        500
      ],
      "id": "97ce7ce9-97a1-4d0a-821c-237c54e62ab5",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c54f89c-3770-469c-896a-a4e3d3c5bb12",
              "name": "text",
              "value": "={{ $node[\"Set Text (final)\"].json[\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        720
      ],
      "id": "a18945c0-4ab5-4c2e-85b1-b1a1a85af0f9",
      "name": "общее"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6888127d-442f-4349-8ac8-a45e8c0ce895",
      "name": "Set Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b2ff60e-9772-4dc6-8dad-7de37ec83103",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        400
      ],
      "id": "754ad1b7-1a20-4f8a-b900-a751b32ddca2",
      "name": "Set Text (voice)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b2ff60e-9772-4dc6-8dad-7de37ec83103",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        500
      ],
      "id": "9ac8d768-e004-4dfb-aca4-5adeb7de80bb",
      "name": "Set Text (final)"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a39116a8-be82-468e-87f7-620b3d8a52e4",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        500
      ],
      "webhookId": "99eab1a0-569d-4f0f-a49e-578a02abfe63",
      "credentials": {
        "telegramApi": {
          "id": "jZD7r1TCQ02rnaWn",
          "name": "msr_jarvis_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72ac8133-34e7-4f08-bbb3-4b387c286c64",
              "name": "prompt",
              "value": "You are a copywriter and content marketer. Your task is to revise an existing social media post to improve its clarity, tone, and effectiveness while maintaining a friendly and motivating style. The goal is to adapt it for Telegram, VK, Instagram, and Yandex Zen. Include up to 5 relevant hashtags and emojis if natural. End with a strong call to action.",
              "type": "string"
            },
            {
              "id": "9a880348-9dad-49bb-9436-6faf65fb8cdd",
              "name": "text",
              "value": "={{ $node[\"Set Text (final)\"].json[\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        280
      ],
      "id": "e51ebb09-26e9-487a-be2b-eaf419386dba",
      "name": "календарь"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72ac8133-34e7-4f08-bbb3-4b387c286c64",
              "name": "prompt",
              "value": "You are a copywriter and content marketer. Your task is to revise an existing social media post to improve its clarity, tone, and effectiveness while maintaining a friendly and motivating style. The goal is to adapt it for Telegram, VK, Instagram, and Yandex Zen. Include up to 5 relevant hashtags and emojis if natural. End with a strong call to action.",
              "type": "string"
            },
            {
              "id": "9a880348-9dad-49bb-9436-6faf65fb8cdd",
              "name": "text",
              "value": "={{ $node[\"Set Text (final)\"].json[\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        500
      ],
      "id": "92b2ed33-17fd-4942-85f8-a9c76463eee8",
      "name": "транскрибация"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gemini - Generate Upload URL').item.json.headers['x-goog-upload-url'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Length",
              "value": "={{ $json.headers['content-length'] }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {}
        }
      },
      "id": "eaaf96ca-b3ef-4d99-aa58-02722ae1a2d8",
      "name": "Gemini - Upload File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        620,
        100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.Video[0].size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.Video[0].type }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"file\": {\n\"display_name\": \"{{ $json.Video[0].filename }}\"\n}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "50a97c8d-1730-43d2-a7a4-44f529ddceac",
      "name": "Gemini - Generate Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "download": false
      },
      "id": "5d515b7c-18d6-46ba-9ed9-4efcc284b9f6",
      "name": "Download File1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -300,
        300
      ],
      "webhookId": "83bb7385-33f6-4105-8294-1a91c0ebbee5",
      "credentials": {
        "telegramApi": {
          "id": "jZD7r1TCQ02rnaWn",
          "name": "msr_jarvis_bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "inner"
      },
      "id": "fa2eae50-093e-4bf0-85b9-e0c138894820",
      "name": "Merge Upload",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        380,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"file_data\": {\n            \"mime_type\": \"video/mp4\",\n            \"file_uri\": \"{{ $json.file.uri }}\"\n          }\n        },\n        {\n          \"text\": \"Сделай детальную транскрибацию этого видео…\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {}
        }
      },
      "id": "103d6def-a16c-4287-984b-2ea2d14ea880",
      "name": "Gemini - Ask Questions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        860,
        100
      ],
      "typeVersion": 4.2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-02T10:40:33.000Z",
  "versionId": "d847b78e-f370-404f-9824-c533098a543f"
}