workflows/JU0UI4fb95uUt3Kt.json
{
  "active": false,
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Docs": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-09T19:51:16.057Z",
  "id": "JU0UI4fb95uUt3Kt",
  "meta": null,
  "name": "Oil RAG",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "8f9adc78-e8c4-4ac3-919e-92f5613bd8ae",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1340,
        260
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "efaaf835-b451-47e5-b0c5-e7b74a124182",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1100,
        260
      ],
      "credentials": {
        "openAiApi": {
          "id": "uIbCfg9DcZwZx6sQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "289834d8-7857-4642-b699-ee1a0538f8c2",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        980,
        40
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnR6W9NAyADNs9sK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Td50iAPumGqEHxiCacmXrFKMwqLKNwHT",
          "mode": "list",
          "cachedResultName": "OIL RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Td50iAPumGqEHxiCacmXrFKMwqLKNwHT"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "de7583f5-9bc4-49da-8dcd-ddcb71321dc6",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        40
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnR6W9NAyADNs9sK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Td50iAPumGqEHxiCacmXrFKMwqLKNwHT",
          "mode": "list",
          "cachedResultName": "OIL RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Td50iAPumGqEHxiCacmXrFKMwqLKNwHT"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "8d0d74ea-2a45-4be4-a093-ac9b7e6a27ab",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnR6W9NAyADNs9sK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b7f34550-1d07-4a8b-b096-96ab0b387b21",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        40
      ]
    },
    {
      "parameters": {},
      "id": "568d5249-8170-41d3-b6ad-4cccb5ef4b89",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1240,
        380
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_yt_now",
          "mode": "list",
          "cachedResultName": "documents_yt_now"
        },
        "options": {
          "queryName": "match_documents_yt_now"
        }
      },
      "id": "27bfe529-9e03-41b0-9c6d-920472cb5900",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1260,
        40
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        360,
        40
      ],
      "id": "95af101c-3b7f-476a-8bfb-9110af982f4a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_yt_now",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "c6e7a935-62ad-4aca-9987-0e617f6dbf16",
      "name": "Delete Old Docs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        40
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        620
      ],
      "id": "cd6a3c1e-33c6-4f3e-80c4-74762495e416",
      "name": "When chat message received",
      "webhookId": "a9586595-d224-4aff-8bee-1ab803b558c0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        840
      ],
      "id": "02f71620-c1f2-4bd1-afbd-0b7e75b22d88",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uIbCfg9DcZwZx6sQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "vectorStore",
        "toolDescription": "RAG memory, always use it.",
        "tableName": {
          "__rl": true,
          "value": "documents_yt_now",
          "mode": "list",
          "cachedResultName": "documents_yt_now"
        },
        "options": {
          "queryName": "match_documents_yt_now"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        700,
        760
      ],
      "id": "08d700c1-ea44-41ed-9347-995d0f0f2f26",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        940
      ],
      "id": "3884c4b2-ca68-4d15-8c8d-07c324d7c8ba",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "uIbCfg9DcZwZx6sQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Чат",
        "height": 480,
        "width": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        580
      ],
      "typeVersion": 1,
      "id": "49e07aec-fcdb-40db-943d-3dd9eed28eea",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Загрузчик",
        "height": 540,
        "width": 1640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        0
      ],
      "typeVersion": 1,
      "id": "f102d147-7640-4aab-a826-de718641fd1e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant, always use vectorStore before you answer"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        320,
        620
      ],
      "id": "ea329222-7bb3-4e7e-91de-59260416ee93",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-09T20:15:24.000Z",
  "versionId": "92e43fc0-a59d-4fc4-9b37-8137fcd6acc5"
}