workflows/ncLsBGPcGvXM3Crt.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini - Generate Upload URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload": {
      "main": [
        [
          {
            "node": "YouTube Add to Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gemini - Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Upload File": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Ask Questions": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Upload URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Gemini - Ask Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Google Drive Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-07T10:26:40.667Z",
  "id": "ncLsBGPcGvXM3Crt",
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cn18_1efx0vVNAXVww8ip58IjTL0zvZw",
          "mode": "list",
          "cachedResultName": "Transribe",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cn18_1efx0vVNAXVww8ip58IjTL0zvZw"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "365736ff-76c0-4086-8089-ffdbd0b1295b",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "20b94c9f-f4e8-4104-a592-eb66e21ee220",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "Название видоса",
        "regionCode": "RU",
        "categoryId": "22",
        "options": {
          "license": "youtube",
          "privacyStatus": "unlisted",
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "3fa37c8c-8228-4699-b408-59b3bf9e20f8",
      "name": "YouTube",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLYqcSnuybDVIiVRYOo2grZrVBko4dLGUW",
        "videoId": "={{ $node[\"YouTube Upload\"].json[\"id\"] }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "6ece17f9-9e18-4d70-8d51-9b6979f31560",
      "name": "YouTube1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node['Google Drive Trigger1'].json['id'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b267de0c-685b-4255-975f-97abc3f4c299",
      "name": "Google Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -200,
        540
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $node['Google Drive Download'].json.name }}",
        "regionCode": "RU",
        "categoryId": "22",
        "options": {
          "privacyStatus": "private"
        }
      },
      "id": "ee37ceb6-2a91-467a-beec-6ae8e936a636",
      "name": "YouTube Upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        120,
        260
      ]
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLYqcSnuybDVIiVRYOo2grZrVBko4dLGUW",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "id": "b50186b0-ea3c-4245-aa4e-2e60f943e34e",
      "name": "YouTube Add to Playlist",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        380,
        260
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "2f0c9bed-b0e9-4764-9f40-7fa844f51c3d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        120,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Gemini - Generate Upload URL\"].json.headers[\"x-goog-upload-url\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "8a5716e8-d344-4686-b5f4-cb54b4279d0c",
      "name": "Gemini - Upload File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"contents\": [\n      {\n         \"parts\": [\n            {\n               \"text\": \"сделай полную траанскрибацию видео\"\n            },\n            {\n               \"file_data\": {\n                  \"mime_type\": \"{{ $json.file.mimeType }}\",\n                  \"file_uri\": \"{{ $json.file.uri }}\"\n               }\n            }\n         ]\n      }\n   ]\n}\n",
        "options": {}
      },
      "id": "10bd93be-3b34-4816-842a-169f98b754a6",
      "name": "Gemini - Ask Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        660,
        680
      ]
    },
    {
      "parameters": {
        "chatId": "477076152",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {}
      },
      "id": "f6dcb3b2-dd36-46f1-a6b8-3ea37b50656e",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        880,
        680
      ],
      "webhookId": "97dee910-f1b0-47c9-bd87-0a1b64052ad8",
      "credentials": {
        "telegramApi": {
          "id": "LUE31AkpBaD1sQIq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.Video[0].size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"file\": {\n\"display_name\": \"{{ $json.name }}\"\n}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "12018d10-9f71-4a78-96a2-eab9fefd12ec",
      "name": "Gemini - Generate Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -40,
        780
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        460,
        680
      ],
      "id": "1a2888a8-da59-44e3-8efa-1ce56278ef98",
      "name": "Wait",
      "webhookId": "6d9f1162-ba45-4f54-a53b-787f781b138b"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cn18_1efx0vVNAXVww8ip58IjTL0zvZw",
          "mode": "list",
          "cachedResultName": "Transribe",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cn18_1efx0vVNAXVww8ip58IjTL0zvZw"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "855aa8c1-b354-4181-8ae4-c9fae2211069",
      "name": "Google Drive Trigger1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        540
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-07T14:11:17.000Z",
  "versionId": "749c0264-24cf-4964-b6c6-246e6bc427cc"
}