workflows/tNA74M84hCMXFmwU.json
{
  "active": false,
  "connections": {
    "Set Vars": {
      "main": [
        [
          {
            "node": "Prepare Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Repo": {
      "main": [
        [
          {
            "node": "Export Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Credentials": {
      "main": [
        [
          {
            "node": "Git Add & Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-05T10:22:38.764Z",
  "id": "tNA74M84hCMXFmwU",
  "meta": null,
  "name": "Backup credentianls",
  "nodes": [
    {
      "parameters": {},
      "id": "5d283059-b013-4f11-b3bc-53d0755db9e3",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        2320,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "3dcf6169-0960-4dc3-9d89-749c34081a96",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2320,
        800
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
        "height": 600.88409546716,
        "width": 371.1995072042308,
        "color": 4
      },
      "id": "98e2ab9d-5f6f-4a7d-afbd-53e3dac31795",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "n8n export:credentials --all --separate --pretty --output /data/git-backup/credentials\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2980,
        700
      ],
      "id": "05dbc32e-4c97-4d9d-92f2-4ba7934697b9",
      "name": "Export Credentials",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "GIT_USER",
              "stringValue": "bfirrst"
            },
            {
              "name": "GIT_EMAIL",
              "stringValue": "bfirstgang@gmail.com"
            },
            {
              "name": "GIT_PAT",
              "stringValue": "={{ $env.GH_PAT_BACKUP }}"
            },
            {
              "name": "REPO",
              "stringValue": "n8nbackup"
            }
          ]
        },
        "options": {}
      },
      "id": "36ae63fe-c407-436f-a613-57363503dfd0",
      "name": "Set Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2540,
        700
      ]
    },
    {
      "parameters": {
        "command": "mkdir -p /data/git-backup\ncd /data/git-backup\nif [ ! -d .git ]; then\n  git init --initial-branch=main\n  git config user.name  \"{{ $json.GIT_USER }}\"\n  git config user.email \"{{ $json.GIT_EMAIL }}\"\n  echo \"# n8n backups\" > README.md\n  git add README.md\n  git commit -m \"init\"\n  git remote add origin https://{{ $json.GIT_PAT }}@github.com/{{ $json.GIT_USER }}/{{ $json.REPO }}.git\n  git push -u origin main\nfi\n"
      },
      "id": "6c36d5ae-bf64-421c-b98a-fc54b040d149",
      "name": "Prepare Repo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2760,
        700
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "command": "cd /data/git-backup\ngit add credentials\nif git diff --cached --quiet; then\n  echo \"nothing to commit\"\nelse\n  git commit -m \"autobackup $(date -Iseconds)\"\n  git push origin main\nfi\n"
      },
      "id": "b6f2de12-a02a-4a67-8bda-471b729e25f9",
      "name": "Git Add & Push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3200,
        700
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-05T10:57:52.000Z",
  "versionId": "3c528ece-a73f-4370-bd7c-8b72edc41cdd"
}