workflows/U2ZOCuGCXeH5tlM9.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini - Generate Upload URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload": {
      "main": [
        [
          {
            "node": "YouTube Add to Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gemini - Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Upload File": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Ask Questions": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Upload URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Gemini - Ask Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Google Drive Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-02T10:41:54.263Z",
  "id": "U2ZOCuGCXeH5tlM9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "YT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cn18_1efx0vVNAXVww8ip58IjTL0zvZw",
          "mode": "list",
          "cachedResultName": "Transribe",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cn18_1efx0vVNAXVww8ip58IjTL0zvZw"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        -180
      ],
      "id": "1dfdcad7-62b4-42bf-92f7-1be2d3bb2118",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k1Krw51GC21TIMuV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        -180
      ],
      "id": "10ec5f7d-db0b-4f16-ad20-a290db1dc5c5",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k1Krw51GC21TIMuV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "Название видоса",
        "regionCode": "RU",
        "categoryId": "22",
        "options": {
          "license": "youtube",
          "privacyStatus": "unlisted",
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        300,
        -180
      ],
      "id": "180b84d7-563e-43af-827a-b773bfb179ee",
      "name": "YouTube",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ucldCdY1273HfVFh",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLYqcSnuybDVIiVRYOo2grZrVBko4dLGUW",
        "videoId": "={{ $node[\"YouTube Upload\"].json[\"id\"] }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        520,
        -180
      ],
      "id": "708ce51a-b163-4e74-9556-bc19dcc08bef",
      "name": "YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ucldCdY1273HfVFh",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node['Google Drive Trigger1'].json['id'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "76215756-2012-4aa8-9ced-ed5b60c0004a",
      "name": "Google Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -340,
        360
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k1Krw51GC21TIMuV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $node['Google Drive Download'].json.name }}",
        "regionCode": "RU",
        "categoryId": "22",
        "options": {
          "privacyStatus": "private"
        }
      },
      "id": "f909182c-2b69-4eda-a43e-2ecb95a7ce43",
      "name": "YouTube Upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -20,
        80
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ucldCdY1273HfVFh",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLYqcSnuybDVIiVRYOo2grZrVBko4dLGUW",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "id": "9596dc98-2220-4933-b18c-0d85a6e6f9b7",
      "name": "YouTube Add to Playlist",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        240,
        80
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ucldCdY1273HfVFh",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "beccaba2-9be9-44a3-97d1-8749debb702e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -20,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Gemini - Generate Upload URL\"].json.headers[\"x-goog-upload-url\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "c22170b7-910a-40f0-8598-4aad7ad2eb7b",
      "name": "Gemini - Upload File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        160,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"contents\": [\n      {\n         \"parts\": [\n            {\n               \"text\": \"сделай полную траанскрибацию видео\"\n            },\n            {\n               \"file_data\": {\n                  \"mime_type\": \"{{ $json.file.mimeType }}\",\n                  \"file_uri\": \"{{ $json.file.uri }}\"\n               }\n            }\n         ]\n      }\n   ]\n}\n",
        "options": {}
      },
      "id": "60618d69-7713-4517-8cd7-0993d26c580a",
      "name": "Gemini - Ask Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        520,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "477076152",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {}
      },
      "id": "3185c116-3c20-468e-a06e-ab93829e92f9",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        740,
        500
      ],
      "webhookId": "97dee910-f1b0-47c9-bd87-0a1b64052ad8",
      "credentials": {
        "telegramApi": {
          "id": "jZD7r1TCQ02rnaWn",
          "name": "msr_jarvis_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.Video[0].size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"file\": {\n\"display_name\": \"{{ $json.name }}\"\n}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "6da90403-481f-4f71-819c-96bb65bd5a76",
      "name": "Gemini - Generate Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -180,
        600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        500
      ],
      "id": "fc7b64c2-7dd8-44e3-a641-579b5bf47c7f",
      "name": "Wait",
      "webhookId": "6d9f1162-ba45-4f54-a53b-787f781b138b"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cn18_1efx0vVNAXVww8ip58IjTL0zvZw",
          "mode": "list",
          "cachedResultName": "Transribe",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cn18_1efx0vVNAXVww8ip58IjTL0zvZw"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "b6c61f53-f64c-4bce-bcf4-87122b377fb5",
      "name": "Google Drive Trigger1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        360
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k1Krw51GC21TIMuV",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-03T12:04:07.000Z",
  "versionId": "4556cf19-7269-432e-a69e-4255770971f9"
}