workflows/URSV7GUJ2gaRpNvD.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Set Text (voice)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "БИЗНЕС АССИСТЕНТ": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "календарь",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "транскрибация",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "общее",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "общее": {
      "main": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Set Text (final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text (voice)": {
      "main": [
        [
          {
            "node": "Set Text (final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text (final)": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "транскрибация": {
      "main": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "календарь": {
      "main": [
        [
          {
            "node": "БИЗНЕС АССИСТЕНТ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-25T20:09:47.799Z",
  "id": "URSV7GUJ2gaRpNvD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "2 ии-транскрибатор",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini-2024-07-18"
        },
        "options": {
          "frequencyPenalty": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        1120
      ],
      "id": "89ba6057-d769-44b3-aab3-b38030cffeb1",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -200,
        1120
      ],
      "id": "f5724c7e-cabd-48b1-ab2c-936a20db8381",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -80,
        1120
      ],
      "id": "2b91210e-7dfc-41fc-9618-788cbf25574a",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "uGFvdoswI002nLpP",
          "mode": "list",
          "cachedResultName": "GC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        40,
        1120
      ],
      "id": "62def8a4-bd68-4789-9311-38d14bc54a39",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "6fa3be01-4959-425b-8c19-ae2e4bb0fbdc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "=",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "84d46d49-f70f-478f-8a8a-36199e1d24de",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2240,
        900
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d65ef04b-c6de-424c-96d6-8be02c797766",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        900
      ],
      "webhookId": "5dced4b9-5066-4036-a4d4-14fc07edd53c"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "a823eeaf-84c5-4187-bef5-279fc1328bd4",
      "name": "Download File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2020,
        800
      ],
      "webhookId": "83bb7385-33f6-4105-8294-1a91c0ebbee5"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "d4fbb1f2-aa23-4f7a-b36a-de0a73e14132",
      "name": "Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1800,
        800
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }} {{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert assistant that helps with content generation, post editing, theme suggestions, and other content-related tasks. You also handle calendar tasks when needed.\n\n## Language\nAlways respond in Russian using a professional, clear, and friendly tone.\n\n## Content Rules\nYou are allowed to generate and edit text content including posts, articles, and ideas for social media. Follow the tone and goals described in the prompt.\n\n## Tools\n- calendarAgent: Use this tool to take actions in calendar\n\n## Final Reminder\nAlways complete the task clearly and concisely. Do not refuse content generation.\nCurrent date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -220,
        900
      ],
      "id": "00e04cf6-a266-4890-992f-ebf906231645",
      "name": "БИЗНЕС АССИСТЕНТ"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Ты классификатор команд. Ответь в формате JSON:\n{\n  \"команда\": \"календарь | транскрибация | общее\"\n}\n\nТипы команд:\n- \"календарь\" — если пользователь просит создать, изменить, переместетить и тд задачу или мероприятие. Также если спрашивает про график или другие данные.\n- \"транскрибация\" — если пользователь просит транскрибировать, извлечь текст и тд.\n- \"общее\" — если команда не подходит ни под одну из категорий",
              "role": "system"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1060,
        900
      ],
      "id": "6103943d-308b-4ab2-b8a8-7d98d40e1094",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"message\"][\"content\"][\"команда\"]}}",
                    "rightValue": "календарь",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "027a606a-f5ff-4466-977b-4584081cb9c7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "153401ed-088c-4de8-a8f1-2c4cce6a49f3",
                    "leftValue": "={{ $json[\"message\"][\"content\"][\"команда\"] }}",
                    "rightValue": "транскрибация",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24187032-471d-47df-a555-bb804a5e3759",
                    "leftValue": "={{$json[\"message\"][\"content\"][\"команда\"]}}",
                    "rightValue": "общее",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -740,
        900
      ],
      "id": "7f15edf7-b7f7-4734-b683-957a96ec293e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c54f89c-3770-469c-896a-a4e3d3c5bb12",
              "name": "text",
              "value": "={{ $node[\"Set Text (final)\"].json[\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        1120
      ],
      "id": "cca3fa3a-8936-4b0b-b3f1-5b84eccb581c",
      "name": "общее"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1d304de7-295a-45a6-8dc6-45f51d6c64cc",
      "name": "Set Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1580,
        1000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b2ff60e-9772-4dc6-8dad-7de37ec83103",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1580,
        800
      ],
      "id": "28f47af6-a214-4b89-a0d8-f1e11af2fc7d",
      "name": "Set Text (voice)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b2ff60e-9772-4dc6-8dad-7de37ec83103",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        900
      ],
      "id": "3ecbea80-6c49-415c-b63b-0955e707d12b",
      "name": "Set Text (final)"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b0f71b64-155b-4811-9237-a0dea2a0ad52",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2700,
        900
      ],
      "webhookId": "99eab1a0-569d-4f0f-a49e-578a02abfe63"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72ac8133-34e7-4f08-bbb3-4b387c286c64",
              "name": "prompt",
              "value": "You are a copywriter and content marketer. Your task is to revise an existing social media post to improve its clarity, tone, and effectiveness while maintaining a friendly and motivating style. The goal is to adapt it for Telegram, VK, Instagram, and Yandex Zen. Include up to 5 relevant hashtags and emojis if natural. End with a strong call to action.",
              "type": "string"
            },
            {
              "id": "9a880348-9dad-49bb-9436-6faf65fb8cdd",
              "name": "text",
              "value": "={{ $node[\"Set Text (final)\"].json[\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        680
      ],
      "id": "3b4650f9-5095-4b61-8860-d443abf38155",
      "name": "календарь"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72ac8133-34e7-4f08-bbb3-4b387c286c64",
              "name": "prompt",
              "value": "You are a copywriter and content marketer. Your task is to revise an existing social media post to improve its clarity, tone, and effectiveness while maintaining a friendly and motivating style. The goal is to adapt it for Telegram, VK, Instagram, and Yandex Zen. Include up to 5 relevant hashtags and emojis if natural. End with a strong call to action.",
              "type": "string"
            },
            {
              "id": "9a880348-9dad-49bb-9436-6faf65fb8cdd",
              "name": "text",
              "value": "={{ $node[\"Set Text (final)\"].json[\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        900
      ],
      "id": "39d86ad3-6bf4-473b-acaf-bb23477879cd",
      "name": "транскрибация"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-25T20:09:47.799Z",
  "versionId": "5a93ff10-e6b5-4ead-ace7-b91615ad14a3"
}