workflows/uUr49jDUmwvQgWdA.json
{
  "active": false,
  "connections": {
    "Google Drive Download1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini - Generate Upload URL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload1": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Add to Playlist1": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Gemini - Upload File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Upload File1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Ask Questions1": {
      "main": [
        [
          {
            "node": "Telegram Send1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Upload URL1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Gemini - Ask Questions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger2": {
      "main": [
        [
          {
            "node": "Google Drive Download1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "YouTube Add to Playlist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send1": {
      "main": [
        []
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini - Generate Upload URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Add to Playlist": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gemini - Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Upload File": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Ask Questions": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Upload URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Gemini - Ask Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "YouTube Add to Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini - Generate Upload URL2",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Upload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload2": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Add to Playlist2": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Gemini - Upload File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Upload File2": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Ask Questions2": {
      "main": [
        [
          {
            "node": "Telegram Send2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Upload URL2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Gemini - Ask Questions2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger3": {
      "main": [
        [
          {
            "node": "Google Drive Download2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "YouTube Add to Playlist2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Execute Command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-13T10:09:13.319Z",
  "id": "uUr49jDUmwvQgWdA",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "yt",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node['Google Drive Trigger2'].json['id'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b07523d8-d450-4d97-a2f8-5cfadae62b97",
      "name": "Google Drive Download1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        1020
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnGPGrlCRstHTEJR",
          "name": "190bfirst@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $node['Google Drive Download1'].json.name }}",
        "regionCode": "RU",
        "categoryId": "22",
        "options": {
          "privacyStatus": "unlisted"
        }
      },
      "id": "ca3ce752-478b-46ac-8efc-52ac72d0e166",
      "name": "YouTube Upload1",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        620,
        1140
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "luBCRgYHwmO0Pfd4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLYqcSnuybDVLpM66zHsl0UtM99sXxR1Q_",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "id": "af587b80-bb75-4cfb-b225-7ffa502fef6c",
      "name": "YouTube Add to Playlist1",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1060,
        1140
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "luBCRgYHwmO0Pfd4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "ae5f4693-6234-4ea7-becd-31c0408d519d",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        640,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Gemini - Generate Upload URL1\"].json.headers[\"x-goog-upload-url\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "321dd614-ae8d-43c7-b004-cd3a90384d93",
      "name": "Gemini - Upload File1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        860,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"contents\": [\n      {\n         \"parts\": [\n            {\n               \"text\": \"сделай полную траанскрибацию видео\"\n            },\n            {\n               \"file_data\": {\n                  \"mime_type\": \"{{ $json.file.mimeType }}\",\n                  \"file_uri\": \"{{ $json.file.uri }}\"\n               }\n            }\n         ]\n      }\n   ]\n}\n",
        "options": {}
      },
      "id": "0ae46897-9835-4330-b2f8-9546ecd9d822",
      "name": "Gemini - Ask Questions1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1300,
        880
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "chatId": "477076152",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {}
      },
      "id": "58178406-c4df-4757-a3e5-43983216cbbf",
      "name": "Telegram Send1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1520,
        880
      ],
      "webhookId": "97dee910-f1b0-47c9-bd87-0a1b64052ad8",
      "credentials": {
        "telegramApi": {
          "id": "VSaespXbZr5kslxM",
          "name": "msr_jarvis_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.Video[0].size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"file\": {\n\"display_name\": \"{{ $json.name }}\"\n}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "ec38e227-aedf-4fa4-84a6-6b1351e81858",
      "name": "Gemini - Generate Upload URL1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        400,
        880
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1080,
        880
      ],
      "id": "a29b66b2-5cef-4b06-b8ce-5a2767e6228c",
      "name": "Wait3",
      "webhookId": "6d9f1162-ba45-4f54-a53b-787f781b138b"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1k5rRRmC8wvbDFHQys3H01J6i6VhpDfBr",
          "mode": "list",
          "cachedResultName": "Transcribe",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1k5rRRmC8wvbDFHQys3H01J6i6VhpDfBr"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "850a1181-a9bd-416d-8564-a906f4e9f72a",
      "name": "Google Drive Trigger2",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1020
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnGPGrlCRstHTEJR",
          "name": "190bfirst@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        840,
        1140
      ],
      "id": "8541d1ab-546d-471f-9252-ef436bb84751",
      "name": "Wait4",
      "webhookId": "2b57d4d6-19e2-4da3-85bb-0d27e514b472"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger2').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        1140
      ],
      "id": "8cabf721-2584-4683-8986-b6426eedf37d",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnGPGrlCRstHTEJR",
          "name": "190bfirst@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "ALL",
        "height": 540,
        "width": 1900,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        240
      ],
      "id": "8763353e-909e-46f5-91f1-3f6267271529",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "CLIENTS",
        "height": 540,
        "width": 1900,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        820
      ],
      "id": "f1b68789-1c3a-4630-8fa0-1ffe87d6f42e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "TEAM",
        "height": 540,
        "width": 1900,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        1400
      ],
      "id": "1d96fcaa-7cfc-4f38-8863-f6f56b1bad38",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=bash -c '\n###############################################################################\n#  Параметры\n###############################################################################\nROOT=\"/data/.n8n/binaryData\"     # Корень хранилища бинарных данных n8n\nAGE_MIN=0                        # >= 0 → удаляем всё без оглядки на возраст\n\n###############################################################################\n#  Проверяем наличие каталога\n###############################################################################\nif [ ! -d \"$ROOT\" ]; then\n  echo \"Directory $ROOT not found – nothing to clean.\"\n  exit 0\nfi\n\necho \"▶ Removing binary_data folders in $ROOT …\"\n\n###############################################################################\n#  Ищем и удаляем\n###############################################################################\nDELETED=$(find \"$ROOT\" \\\n           -type d -name \"binary_data\" -mmin +$AGE_MIN \\\n           -print -exec rm -rf {} +)\n\nif [ -z \"$DELETED\" ]; then\n  echo \"Nothing to delete.\"\n  exit 0\nfi\n\n###############################################################################\n#  Сводка и очистка пустых execution-папок\n###############################################################################\necho \"$DELETED\" | while read -r d; do\n  echo \"  removed $d\"\n  rmdir -p --ignore-fail-on-non-empty \"$(dirname \"$d\")\" 2>/dev/null || true\ndone\necho \"✔ Done.\"\n'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1520,
        1140
      ],
      "id": "4abe161c-9fc0-42e0-a580-8a9401b689a3",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "command": "=bash -c 'du -h /data | sort -h | tail -n 20'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2040,
        1260
      ],
      "id": "c44ea398-3775-4ad6-b0ea-c0f403f116be",
      "name": "поиск файлов"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node['Google Drive Trigger'].json['id'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "244e7304-4c99-451e-802a-6b255f2478de",
      "name": "Google Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnGPGrlCRstHTEJR",
          "name": "190bfirst@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $node['Google Drive Download'].json.name }}",
        "regionCode": "RU",
        "categoryId": "22",
        "options": {
          "privacyStatus": "unlisted"
        }
      },
      "id": "d12089f7-b021-44b8-ac13-d21401fa5506",
      "name": "YouTube Upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        560,
        580
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "luBCRgYHwmO0Pfd4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLYqcSnuybDVLpM66zHsl0UtM99sXxR1Q_",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "id": "d530a072-9c1d-487e-b988-008fbf8b966a",
      "name": "YouTube Add to Playlist",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1000,
        580
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "luBCRgYHwmO0Pfd4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "d3aa9f3a-b3a0-490e-823d-c37865b27229",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        580,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Gemini - Generate Upload URL\"].json.headers[\"x-goog-upload-url\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "464d339a-87bb-4b63-88df-eb79f4c17191",
      "name": "Gemini - Upload File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"contents\": [\n      {\n         \"parts\": [\n            {\n               \"text\": \"сделай полную траанскрибацию видео\"\n            },\n            {\n               \"file_data\": {\n                  \"mime_type\": \"{{ $json.file.mimeType }}\",\n                  \"file_uri\": \"{{ $json.file.uri }}\"\n               }\n            }\n         ]\n      }\n   ]\n}\n",
        "options": {}
      },
      "id": "1e877b08-deea-44b7-98b0-1a241d2293ea",
      "name": "Gemini - Ask Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1240,
        320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "chatId": "477076152",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {}
      },
      "id": "00e2af7c-6ba0-46b2-91b8-eef85f818ea9",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1460,
        320
      ],
      "webhookId": "97dee910-f1b0-47c9-bd87-0a1b64052ad8",
      "credentials": {
        "telegramApi": {
          "id": "VSaespXbZr5kslxM",
          "name": "msr_jarvis_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.Video[0].size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"file\": {\n\"display_name\": \"{{ $json.name }}\"\n}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "79703764-6bd8-4972-9715-53f727974c0b",
      "name": "Gemini - Generate Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1020,
        320
      ],
      "id": "96b58f0a-49f8-4917-b778-54f329070e0a",
      "name": "Wait",
      "webhookId": "6d9f1162-ba45-4f54-a53b-787f781b138b"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1k5rRRmC8wvbDFHQys3H01J6i6VhpDfBr",
          "mode": "list",
          "cachedResultName": "Transcribe",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1k5rRRmC8wvbDFHQys3H01J6i6VhpDfBr"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "8862b161-ace1-4126-9972-a2c164f4afaa",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnGPGrlCRstHTEJR",
          "name": "190bfirst@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        780,
        580
      ],
      "id": "118d76f9-f0c1-4b21-927f-97fcf5a7031d",
      "name": "Wait7",
      "webhookId": "2b57d4d6-19e2-4da3-85bb-0d27e514b472"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1220,
        580
      ],
      "id": "8baf745b-c425-421b-b749-78c47c04dd3f",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnGPGrlCRstHTEJR",
          "name": "190bfirst@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=bash -c '\n###############################################################################\n#  Параметры\n###############################################################################\nROOT=\"/data/.n8n/binaryData\"     # Корень хранилища бинарных данных n8n\nAGE_MIN=0                        # >= 0 → удаляем всё без оглядки на возраст\n\n###############################################################################\n#  Проверяем наличие каталога\n###############################################################################\nif [ ! -d \"$ROOT\" ]; then\n  echo \"Directory $ROOT not found – nothing to clean.\"\n  exit 0\nfi\n\necho \"▶ Removing binary_data folders in $ROOT …\"\n\n###############################################################################\n#  Ищем и удаляем\n###############################################################################\nDELETED=$(find \"$ROOT\" \\\n           -type d -name \"binary_data\" -mmin +$AGE_MIN \\\n           -print -exec rm -rf {} +)\n\nif [ -z \"$DELETED\" ]; then\n  echo \"Nothing to delete.\"\n  exit 0\nfi\n\n###############################################################################\n#  Сводка и очистка пустых execution-папок\n###############################################################################\necho \"$DELETED\" | while read -r d; do\n  echo \"  removed $d\"\n  rmdir -p --ignore-fail-on-non-empty \"$(dirname \"$d\")\" 2>/dev/null || true\ndone\necho \"✔ Done.\"\n'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1460,
        580
      ],
      "id": "47b19411-47f4-4c28-a0bb-2ca41bc16a85",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node['Google Drive Trigger3'].json['id'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d8273f22-6777-4c7c-8156-8a3829b44c29",
      "name": "Google Drive Download2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        200,
        1600
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnGPGrlCRstHTEJR",
          "name": "190bfirst@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $node['Google Drive Download2'].json.name }}",
        "regionCode": "RU",
        "categoryId": "22",
        "options": {
          "privacyStatus": "unlisted"
        }
      },
      "id": "f71d5791-ee79-4e0b-aabb-0579bc20f88a",
      "name": "YouTube Upload2",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        600,
        1720
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "luBCRgYHwmO0Pfd4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLYqcSnuybDVLpM66zHsl0UtM99sXxR1Q_",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "id": "460cc4f7-3154-43bc-971f-2c18792f6a00",
      "name": "YouTube Add to Playlist2",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1040,
        1720
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "luBCRgYHwmO0Pfd4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "413972f1-624a-414b-b031-d4ca6e2638d4",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        620,
        1460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Gemini - Generate Upload URL2\"].json.headers[\"x-goog-upload-url\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "8c5c37ab-26f4-401c-bb8f-874dea998a7b",
      "name": "Gemini - Upload File2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        840,
        1460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"contents\": [\n      {\n         \"parts\": [\n            {\n               \"text\": \"сделай полную траанскрибацию видео\"\n            },\n            {\n               \"file_data\": {\n                  \"mime_type\": \"{{ $json.file.mimeType }}\",\n                  \"file_uri\": \"{{ $json.file.uri }}\"\n               }\n            }\n         ]\n      }\n   ]\n}\n",
        "options": {}
      },
      "id": "e8d034d1-a696-488b-b205-7c8ad54a74ee",
      "name": "Gemini - Ask Questions2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1280,
        1460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "chatId": "477076152",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {}
      },
      "id": "72ed37e7-37c7-4a55-9ebb-425ed8bc4c40",
      "name": "Telegram Send2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1500,
        1460
      ],
      "webhookId": "97dee910-f1b0-47c9-bd87-0a1b64052ad8",
      "credentials": {
        "telegramApi": {
          "id": "VSaespXbZr5kslxM",
          "name": "msr_jarvis_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBT_qas8sF4bd6zGmk9Xf0wXy8S3v7ji_8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.Video[0].size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"file\": {\n\"display_name\": \"{{ $json.name }}\"\n}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "ed4e5e6a-24e3-43b1-aeed-894415ce73f0",
      "name": "Gemini - Generate Upload URL2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        380,
        1460
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1060,
        1460
      ],
      "id": "972bb516-af62-493e-b54d-c58be1fd8639",
      "name": "Wait5",
      "webhookId": "6d9f1162-ba45-4f54-a53b-787f781b138b"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1k5rRRmC8wvbDFHQys3H01J6i6VhpDfBr",
          "mode": "list",
          "cachedResultName": "Transcribe",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1k5rRRmC8wvbDFHQys3H01J6i6VhpDfBr"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "a919b4ef-cd12-4db5-b52c-9eb40736842e",
      "name": "Google Drive Trigger3",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        1600
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnGPGrlCRstHTEJR",
          "name": "190bfirst@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        820,
        1720
      ],
      "id": "7c7cf25a-9b70-4894-97cb-c45bd03e8e42",
      "name": "Wait6",
      "webhookId": "2b57d4d6-19e2-4da3-85bb-0d27e514b472"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger3').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1260,
        1720
      ],
      "id": "4f0409b2-082b-4bfa-968f-f6bce19b8dbf",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SnGPGrlCRstHTEJR",
          "name": "190bfirst@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=bash -c '\n###############################################################################\n#  Параметры\n###############################################################################\nROOT=\"/data/.n8n/binaryData\"     # Корень хранилища бинарных данных n8n\nAGE_MIN=0                        # >= 0 → удаляем всё без оглядки на возраст\n\n###############################################################################\n#  Проверяем наличие каталога\n###############################################################################\nif [ ! -d \"$ROOT\" ]; then\n  echo \"Directory $ROOT not found – nothing to clean.\"\n  exit 0\nfi\n\necho \"▶ Removing binary_data folders in $ROOT …\"\n\n###############################################################################\n#  Ищем и удаляем\n###############################################################################\nDELETED=$(find \"$ROOT\" \\\n           -type d -name \"binary_data\" -mmin +$AGE_MIN \\\n           -print -exec rm -rf {} +)\n\nif [ -z \"$DELETED\" ]; then\n  echo \"Nothing to delete.\"\n  exit 0\nfi\n\n###############################################################################\n#  Сводка и очистка пустых execution-папок\n###############################################################################\necho \"$DELETED\" | while read -r d; do\n  echo \"  removed $d\"\n  rmdir -p --ignore-fail-on-non-empty \"$(dirname \"$d\")\" 2>/dev/null || true\ndone\necho \"✔ Done.\"\n'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1500,
        1720
      ],
      "id": "5fff0f02-88e9-4231-b5af-b4a0f919b59d",
      "name": "Execute Command3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2025-06-26T18:04:29Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-07T19:11:46.000Z",
  "versionId": "ea314f20-a6e9-492c-903e-c19eddada918"
}